# Este es el Notebook de limpieza

In [42]:
# Comenzamos cargando el dataset

import pandas as pd

url = "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"

df_shark_attacks = pd.read_excel(url)

# Visualizamos

df_shark_attacks.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,10th January,2026.0,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,...,Unknown,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8th January,2026.0,Unprovoked,US Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,Snorkeling,Arlene Lillis,F,56,...,Unknown,Todd Smith: KevinMcMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3rd January,2026.0,Unprovoked,New Caledonia,Kélé,Between Bourail and Moindou,Scuba Diving,Unknown,M,?,...,Unknown,Andy Currie: Province Sud:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21st December,2025.0,Unprovoked,USA,California,Lovers Point Pacific Grove,Swimming,Erica Fox,F,55,...,Great White Shark,Kevin McMurray Tracking sharks.com: Ralph Coll...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12th December,2025.0,Unprovoked,USA,Sonoma County California,Salmon Creek,Surfing,Unknown,M,?,...,Suspected Great White Shark,Kevin McMurray Tracking sharks.com:Andrew Curr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
# Comprobamos nulos

print(df_shark_attacks.isnull().sum())

Date                 0
Year                 2
Type                18
Country             50
State              487
Location           567
Activity           585
Name               219
Sex                579
Age               2995
Injury              35
Fatal Y/N          561
Time              3527
Species           3131
Source              20
pdf                266
href formula       271
href               269
Case Number        267
Case Number.1      268
original order     266
Unnamed: 21       7064
Unnamed: 22       7063
dtype: int64

In [44]:
# En esta celda gestionamos nombres de columnas 
# y formateamos nombres

# Primero convertimos a minúsculas y eliminamos espacios

df_shark_attacks.columns = [x .lower().strip() for x in df_shark_attacks.columns]
print(df_shark_attacks.columns)

# Eliminamos las columnas que no serán necesarias para el análisis

columnas_a_borrar = [
    'unnamed: 21', 
    'pdf', 
    'href',
    'href formula',
    'case number',
    'case number.1',
    'original order', 
    'unnamed: 21', 
    'unnamed: 22', 
    'time', 
    'source', 
    'year'
    ]
df_shark_attacks.drop(columns=[col for col in columnas_a_borrar], inplace=True)

# Modificamos el nombre de la columna `fatal y/n` a `fatal``

df_shark_attacks.rename(columns={'fatal y/n':'fatal'}, inplace=True)

# Comprobamos

df_shark_attacks.head()

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'fatal y/n', 'time', 'species',
       'source', 'pdf', 'href formula', 'href', 'case number', 'case number.1',
       'original order', 'unnamed: 21', 'unnamed: 22'],
      dtype='object')

,date,type,country,state,location,activity,name,sex,age,injury,fatal,species
0,10th January,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,puncture mark to left thumb,N,Unknown
1,8th January,Unprovoked,US Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,Snorkeling,Arlene Lillis,F,56,Left arm torn off in the attack below the elbow,Y,Unknown
2,3rd January,Unprovoked,New Caledonia,Kélé,Between Bourail and Moindou,Scuba Diving,Unknown,M,?,Injuries to upper limbs,N,Unknown
3,21st December,Unprovoked,USA,California,Lovers Point Pacific Grove,Swimming,Erica Fox,F,55,Taken by shark body recovered with multiple in...,Y,Great White Shark
4,12th December,Unprovoked,USA,Sonoma County California,Salmon Creek,Surfing,Unknown,M,?,Hand Injury,N,Suspected Great White Shark

In [45]:
# En esta celda gestionamos las filas

# Comprobamos duplicados

print(df_shark_attacks.duplicated().sum())

# Eliminamos duplicados

df_shark_attacks.drop_duplicates(inplace=True)

# Reseteamos index

df_shark_attacks.reset_index(drop=True,inplace=True)

# Comprobamos

print(df_shark_attacks.duplicated().sum())

3
0

## Comenzamos la limpieza de valores

In [ ]:
# En esta celda limpiamos la columna `fatal`

# Comprobamos valores de `fatal`

print(df_shark_attacks['fatal'].unique())

# Definimos la función que pasaremos a `apply`
def clean_fatal(valor):
    if valor == "Y":
        return "Y"
    elif valor == "N":
        return "N"
    else:
        return "UNKNOWN"

# Limpiamos y reasignamos

df_shark_attacks['fatal'] = df_shark_attacks['fatal'].apply(clean_fatal)

# Comprobamos

df_shark_attacks['fatal'].value_counts(dropna=True)

# No hay nulos y solo quedan los valores definidos por la función

fatal
N          4924
Y          1486
UNKNOWN     652
Name: count, dtype: int64

In [47]:
# En esta celda limpiamos la columna `species`

# Comprobamos los nombres de las `species`

print(df_shark_attacks['species'].value_counts(dropna=False))

# Conclusión: dtype: int64 y nombres inconsistentes

# Cambiamos tipo a `str` y rellenamos `NaN` con `Unknown`

df_shark_attacks['species'] = df_shark_attacks['species'].fillna('Unknown').astype(str)

# Comprobamos

print(df_shark_attacks["species"].dtype)

# Definimos función para eliminar los valores inconsistentes dentro de `species`

def clean_species(valor):
    valor = valor.strip().lower() # Eliminamos espacios y convertimos a minúsculas

    if "white" in valor:
        return "White Shark"
    elif "tiger" in valor:
        return "Tiger Shark"
    elif "bull" in valor:
        return "Bull Shark"
    elif "hammer" in valor:
        return "Hammerhead Shark"
    elif "shark" in valor:
        return "Other Shark"
    else:
        return "Unknown"

df_shark_attacks["species"] = df_shark_attacks["species"].apply(clean_species)

# Comprobamos

df_shark_attacks["species"].value_counts(dropna=False)

species
NaN                                                                                                                              3129
White shark                                                                                                                       194
Shark involvement prior to death was not confirmed                                                                                105
Invalid                                                                                                                           102
Shark involvement not confirmed                                                                                                    92
                                                                                                                                 ...
[4' to 5']                                                                                                                          1
[4.5' to 5'] shark                                                                                                                  1
3.5 m [11.5']shark                                                                                                                  1
Possibly a sandbar shark or small blacktip shark                                                                                    1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable       1
Name: count, Length: 1737, dtype: int64
object

species
Unknown             3429
Other Shark         2250
White Shark          756
Tiger Shark          344
Bull Shark           234
Hammerhead Shark      49
Name: count, dtype: int64

In [ ]:
# En esta celda limpiamos la columna `type`

# Creamos `dict` para mapear

type_mapping = {
    "Unprovoked": "Unprovoked",
    "Provoked": "Provoked",
    "Invalid": "Invalid",
    "Watercraft": "Watercraft",
    "Sea Disaster": "Sea Disaster",
    "Questionable": "Questionable",
    "Boat": "Watercraft",
    " Provoked": "Provoked",
    "unprovoked": "Unprovoked",
    "?": "Questionable",
    "Unconfirmed": "Questionable",
    "Unverified": "Questionable",
    "Under investigation": "Questionable"
}

# Aplicamos `.map()`

df_shark_attacks['type'] = df_shark_attacks['type'].map(type_mapping)

# Rellenamos `NaN` con `Questionable``

df_shark_attacks.fillna("Questionable", inplace=True)

# Comprobamos

df_shark_attacks["type"].value_counts(dropna=False)

type
Unprovoked      5216
Provoked         642
Invalid          552
Watercraft       362
Sea Disaster     242
Questionable      48
Name: count, dtype: int64

In [52]:
# En esta celda limpiamos la columna `sex`

# Usamos `apply` para limpiar inconsistencias y espacios pasándole una función anónima `lambda``

df_shark_attacks["sex"] = df_shark_attacks["sex"].apply(lambda sex: sex.strip())

# Comprobamos

print(df_shark_attacks["sex"].value_counts(dropna=False))

# Creamos `dict` para mapear `sex`

sex_mapping = {
    "M": "M",
    "F": "F",
    "Questionable": "Unknown",
    "N": "Unknown",
    "m": "M",
    "lli": "Unknown",
    "M x 2": "Unknown",
    ".": "Unknown"
}

df_shark_attacks["sex"] = df_shark_attacks["sex"].map(sex_mapping)

# Comprobamos

print(df_shark_attacks["sex"].value_counts(dropna=False))

sex
M               5667
F                810
Questionable     579
N                  2
m                  1
lli                1
M x 2              1
.                  1
Name: count, dtype: int64
sex
M          5668
F           810
Unknown     584
Name: count, dtype: int64

In [63]:
# En esta celda limpiamos la columna `age`

# Comprobamos valores

print(df_shark_attacks["age"].value_counts(dropna=False))

print(df_shark_attacks["age"].isnull().sum())

print(df_shark_attacks["age"].dtype)

# Debido  gran cantidad de `Questionable` y de valores en rangos creamos columna `age_clean`
# Guardamos el resto de valores por trazabilidad pero los análisis los haremos sobre `age_clean`

df_shark_attacks['age_clean'] = pd.to_numeric(df_shark_attacks['age'], errors='coerce')

# Comprobamos valores nulos por imputar

print(df_shark_attacks['age_clean'].isnull().sum())

# Observamos estadísticas para decidir cuál usar para imputar resultados a `NaN``

print(df_shark_attacks["age_clean"].describe().T)

# Usaremos la mediana para imputar: las edades están dispersas y el máximo es de `86`

age_mediana = df_shark_attacks['age_clean'].median()

# Rellenamos los nulos con la mediana

df_shark_attacks['age_clean'] = df_shark_attacks['age_clean'].fillna(age_mediana)

# Convertimos a `int` para eliminar decimales

df_shark_attacks['age_clean'] = df_shark_attacks['age_clean'].astype(int)

# Comprobamos

print(df_shark_attacks['age_clean'].unique())

# Creamos copia del dataframe antes de eliminar la columna, por si la necesitamos

df_backup_age = df_shark_attacks.copy()

# Borramos `age` dejando solo `age_clean`

df_shark_attacks.drop(columns=['age'], inplace=True)

# Comprobamos

df_shark_attacks.head()

age
Questionable    2992
16                92
19                90
17                89
17                85
                ...
46 & 34            1
12 or 13           1
18 or 20           1
86                 1
13 or 14           1
Name: count, Length: 252, dtype: int64
0
object
3143
count    3919.000000
mean       28.182445
std        14.679688
min         1.000000
25%        17.000000
50%        24.000000
75%        37.000000
max        87.000000
Name: age_clean, dtype: float64
[24 56 55 26 25 61 40 13 14 54 48 57  8 63  9 39 19  7 85 69 18 66 21 37
 16 20 12 42 45 30 29 35 58 17 36 23 28 27 38 68 33 15 41 43 49 46 65 64
 11 32 10 62 22 52 44 47 59 50 34 77 60 73 67  6 53 51 31 71 75 70  4 74
  3 82 72  5 86 84 87  1 81 78]

,date,type,country,state,location,activity,name,sex,injury,fatal,species,age_clean
0,10th January,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,puncture mark to left thumb,N,Unknown,24
1,8th January,Unprovoked,US Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,Snorkeling,Arlene Lillis,F,Left arm torn off in the attack below the elbow,Y,Unknown,56
2,3rd January,Unprovoked,New Caledonia,Kélé,Between Bourail and Moindou,Scuba Diving,Unknown,M,Injuries to upper limbs,N,Unknown,24
3,21st December,Unprovoked,USA,California,Lovers Point Pacific Grove,Swimming,Erica Fox,F,Taken by shark body recovered with multiple in...,Y,White Shark,55
4,12th December,Unprovoked,USA,Sonoma County California,Salmon Creek,Surfing,Unknown,M,Hand Injury,N,White Shark,24

In [ ]:
# En esta celda limpiamos `name`