# Este es el Notebook de limpieza

In [90]:
# Comenzamos cargando el dataset

import pandas as pd

# Configuración de `pandas`

pd.set_option('display.max_columns', 500)

url = "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"

df_shark_attacks = pd.read_excel(url)

# Visualizamos

df_shark_attacks.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatal Y/N,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,10th January,2026.0,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,puncture mark to left thumb,N,0540hrs,Unknown,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8th January,2026.0,Unprovoked,US Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,Snorkeling,Arlene Lillis,F,56,Left arm torn off in the attack below the elbow,Y,1628hrs,Unknown,Todd Smith: KevinMcMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3rd January,2026.0,Unprovoked,New Caledonia,Kélé,Between Bourail and Moindou,Scuba Diving,Unknown,M,?,Injuries to upper limbs,N,?,Unknown,Andy Currie: Province Sud:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21st December,2025.0,Unprovoked,USA,California,Lovers Point Pacific Grove,Swimming,Erica Fox,F,55,Taken by shark body recovered with multiple in...,Y,1200hrs,Great White Shark,Kevin McMurray Tracking sharks.com: Ralph Coll...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12th December,2025.0,Unprovoked,USA,Sonoma County California,Salmon Creek,Surfing,Unknown,M,?,Hand Injury,N,0800hrs,Suspected Great White Shark,Kevin McMurray Tracking sharks.com:Andrew Curr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
# Comprobamos nulos

print(df_shark_attacks.isnull().sum())

Date                 0
Year                 2
Type                18
Country             50
State              487
Location           567
Activity           585
Name               219
Sex                579
Age               2995
Injury              35
Fatal Y/N          561
Time              3527
Species           3131
Source              20
pdf                266
href formula       271
href               269
Case Number        267
Case Number.1      268
original order     266
Unnamed: 21       7064
Unnamed: 22       7063
dtype: int64

In [92]:
# En esta celda gestionamos nombres de columnas 
# y formateamos nombres

# Primero convertimos a minúsculas y eliminamos espacios

df_shark_attacks.columns = [x .lower().strip() for x in df_shark_attacks.columns]
print(df_shark_attacks.columns)

# Eliminamos las columnas que no serán necesarias para el análisis

columnas_a_borrar = [
    'unnamed: 21', 
    'pdf', 
    'href',
    'href formula',
    'case number',
    'case number.1',
    'original order', 
    'unnamed: 21', 
    'unnamed: 22', 
    'time', 
    'source', 
    'year'
    ]
df_shark_attacks.drop(columns=[col for col in columnas_a_borrar], inplace=True)

# Modificamos el nombre de la columna `fatal y/n` a `fatal``

df_shark_attacks.rename(columns={'fatal y/n':'fatal'}, inplace=True)

# Comprobamos

df_shark_attacks.head()

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'fatal y/n', 'time', 'species',
       'source', 'pdf', 'href formula', 'href', 'case number', 'case number.1',
       'original order', 'unnamed: 21', 'unnamed: 22'],
      dtype='object')

,date,type,country,state,location,activity,name,sex,age,injury,fatal,species
0,10th January,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,puncture mark to left thumb,N,Unknown
1,8th January,Unprovoked,US Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,Snorkeling,Arlene Lillis,F,56,Left arm torn off in the attack below the elbow,Y,Unknown
2,3rd January,Unprovoked,New Caledonia,Kélé,Between Bourail and Moindou,Scuba Diving,Unknown,M,?,Injuries to upper limbs,N,Unknown
3,21st December,Unprovoked,USA,California,Lovers Point Pacific Grove,Swimming,Erica Fox,F,55,Taken by shark body recovered with multiple in...,Y,Great White Shark
4,12th December,Unprovoked,USA,Sonoma County California,Salmon Creek,Surfing,Unknown,M,?,Hand Injury,N,Suspected Great White Shark

In [93]:
# En esta celda gestionamos las filas

# Comprobamos duplicados

print(df_shark_attacks.duplicated().sum())

# Eliminamos duplicados

df_shark_attacks.drop_duplicates(inplace=True)

# Reseteamos index

df_shark_attacks.reset_index(drop=True,inplace=True)

# Comprobamos

print(df_shark_attacks.duplicated().sum())

3
0

## Comenzamos la limpieza de valores

In [94]:
# En esta celda limpiamos la columna `fatal`

# Comprobamos valores de `fatal`

print(df_shark_attacks['fatal'].unique())

# Definimos la función que pasaremos a `apply`
def clean_fatal(valor):
    if valor == "Y":
        return "Y"
    elif valor == "N":
        return "N"
    else:
        return "UNKNOWN"

# Limpiamos y reasignamos

df_shark_attacks['fatal'] = df_shark_attacks['fatal'].apply(clean_fatal)

# Comprobamos

df_shark_attacks['fatal'].value_counts(dropna=True)

# No hay nulos y solo quedan los valores definidos por la función

['N' 'Y' 'F' 'M' nan 'n' 'Nq' 'UNKNOWN' 2017 'Y x 2' ' N' 'N ' 'y']

fatal
N          4924
Y          1486
UNKNOWN     652
Name: count, dtype: int64

In [95]:
# En esta celda limpiamos la columna `species`

# Comprobamos los nombres de las `species`

print(df_shark_attacks['species'].value_counts(dropna=False))

# Conclusión: dtype: int64 y nombres inconsistentes

# Cambiamos tipo a `str` y rellenamos `NaN` con `Unknown`

df_shark_attacks['species'] = df_shark_attacks['species'].fillna('Unknown').astype(str)

# Comprobamos

print(df_shark_attacks["species"].dtype)

# Definimos función para eliminar los valores inconsistentes dentro de `species`

def clean_species(valor):
    valor = valor.strip().lower() # Eliminamos espacios y convertimos a minúsculas

    if "white" in valor:
        return "White Shark"
    elif "tiger" in valor:
        return "Tiger Shark"
    elif "bull" in valor:
        return "Bull Shark"
    elif "hammer" in valor:
        return "Hammerhead Shark"
    elif "shark" in valor:
        return "Other Shark"
    else:
        return "Unknown"

df_shark_attacks["species"] = df_shark_attacks["species"].apply(clean_species)

# Comprobamos

df_shark_attacks["species"].value_counts(dropna=False)

species
NaN                                                                                                                              3129
White shark                                                                                                                       194
Shark involvement prior to death was not confirmed                                                                                105
Invalid                                                                                                                           102
Shark involvement not confirmed                                                                                                    92
                                                                                                                                 ...
[4' to 5']                                                                                                                          1
[4.5' to 5'] shark                                                                                                                  1
3.5 m [11.5']shark                                                                                                                  1
Possibly a sandbar shark or small blacktip shark                                                                                    1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable       1
Name: count, Length: 1737, dtype: int64
object

species
Unknown             3429
Other Shark         2250
White Shark          756
Tiger Shark          344
Bull Shark           234
Hammerhead Shark      49
Name: count, dtype: int64

In [96]:
# En esta celda limpiamos la columna `type`

# Creamos `dict` para mapear

type_mapping = {
    "Unprovoked": "Unprovoked",
    "Provoked": "Provoked",
    "Invalid": "Invalid",
    "Watercraft": "Watercraft",
    "Sea Disaster": "Sea Disaster",
    "Questionable": "Questionable",
    "Boat": "Watercraft",
    " Provoked": "Provoked",
    "unprovoked": "Unprovoked",
    "?": "Questionable",
    "Unconfirmed": "Questionable",
    "Unverified": "Questionable",
    "Under investigation": "Questionable"
}

# Aplicamos `.map()`

df_shark_attacks['type'] = df_shark_attacks['type'].map(type_mapping)

# Rellenamos `NaN` con `Questionable``

df_shark_attacks.fillna("Questionable", inplace=True)

# Comprobamos

df_shark_attacks["type"].value_counts(dropna=False)

type
Unprovoked      5216
Provoked         642
Invalid          552
Watercraft       362
Sea Disaster     242
Questionable      48
Name: count, dtype: int64

In [97]:
# En esta celda limpiamos la columna `sex`

# Usamos `apply` para limpiar inconsistencias y espacios pasándole una función anónima `lambda``

df_shark_attacks["sex"] = df_shark_attacks["sex"].apply(lambda sex: sex.strip())

# Comprobamos

print(df_shark_attacks["sex"].value_counts(dropna=False))

# Creamos `dict` para mapear `sex`

sex_mapping = {
    "M": "M",
    "F": "F",
    "Questionable": "Unknown",
    "N": "Unknown",
    "m": "M",
    "lli": "Unknown",
    "M x 2": "Unknown",
    ".": "Unknown"
}

df_shark_attacks["sex"] = df_shark_attacks["sex"].map(sex_mapping)

# Comprobamos

print(df_shark_attacks["sex"].value_counts(dropna=False))

sex
M               5667
F                810
Questionable     579
N                  2
m                  1
lli                1
M x 2              1
.                  1
Name: count, dtype: int64
sex
M          5668
F           810
Unknown     584
Name: count, dtype: int64

In [98]:
# En esta celda limpiamos la columna `age`

# Comprobamos valores

print(df_shark_attacks["age"].value_counts(dropna=False))

print(df_shark_attacks["age"].isnull().sum())

print(df_shark_attacks["age"].dtype)

# Debido  gran cantidad de `Questionable` y de valores en rangos creamos columna `age_clean`
# Guardamos el resto de valores por trazabilidad pero los análisis los haremos sobre `age_clean`

df_shark_attacks['age_clean'] = pd.to_numeric(df_shark_attacks['age'], errors='coerce')

# Comprobamos valores nulos por imputar

print(df_shark_attacks['age_clean'].isnull().sum())

# Observamos estadísticas para decidir cuál usar para imputar resultados a `NaN``

print(df_shark_attacks["age_clean"].describe().T)

# Usaremos la mediana para imputar: las edades están dispersas y el máximo es de `86`

age_mediana = df_shark_attacks['age_clean'].median()

# Rellenamos los nulos con la mediana

df_shark_attacks['age_clean'] = df_shark_attacks['age_clean'].fillna(age_mediana)

# Convertimos a `int` para eliminar decimales

df_shark_attacks['age_clean'] = df_shark_attacks['age_clean'].astype(int)

# Comprobamos

print(df_shark_attacks['age_clean'].unique())

# Creamos copia del dataframe antes de eliminar la columna, por si la necesitamos

df_backup_age = df_shark_attacks.copy()

# Borramos `age` dejando solo `age_clean`

df_shark_attacks.drop(columns=['age'], inplace=True)

# Comprobamos

df_shark_attacks.head()

age
Questionable    2992
16                92
19                90
17                89
17                85
                ...
46 & 34            1
12 or 13           1
18 or 20           1
86                 1
13 or 14           1
Name: count, Length: 252, dtype: int64
0
object
3143

count    3919.000000
mean       28.182445
std        14.679688
min         1.000000
25%        17.000000
50%        24.000000
75%        37.000000
max        87.000000
Name: age_clean, dtype: float64
[24 56 55 26 25 61 40 13 14 54 48 57  8 63  9 39 19  7 85 69 18 66 21 37
 16 20 12 42 45 30 29 35 58 17 36 23 28 27 38 68 33 15 41 43 49 46 65 64
 11 32 10 62 22 52 44 47 59 50 34 77 60 73 67  6 53 51 31 71 75 70  4 74
  3 82 72  5 86 84 87  1 81 78]

,date,type,country,state,location,activity,name,sex,injury,fatal,species,age_clean
0,10th January,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,puncture mark to left thumb,N,Unknown,24
1,8th January,Unprovoked,US Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,Snorkeling,Arlene Lillis,F,Left arm torn off in the attack below the elbow,Y,Unknown,56
2,3rd January,Unprovoked,New Caledonia,Kélé,Between Bourail and Moindou,Scuba Diving,Unknown,M,Injuries to upper limbs,N,Unknown,24
3,21st December,Unprovoked,USA,California,Lovers Point Pacific Grove,Swimming,Erica Fox,F,Taken by shark body recovered with multiple in...,Y,White Shark,55
4,12th December,Unprovoked,USA,Sonoma County California,Salmon Creek,Surfing,Unknown,M,Hand Injury,N,White Shark,24

In [ ]:
# En esta celda limpiamos `name`

# Comrpobamos valores

print(df_shark_attacks["name"].value_counts(dropna=False))

print(df_shark_attacks["name"].isnull().sum())

print(df_shark_attacks["name"].dtype)

# Hay un problema de calidad en los datos `male`, `female`, asignados en esta columna

# Limpiamos espacios

df_shark_attacks['name'] = df_shark_attacks['name'].astype(str).str.strip()

# Comprobamos

print(df_shark_attacks["name"].value_counts(dropna=False))

# Eliminamos inconsistencias

df_shark_attacks.loc[df_shark_attacks['name'].str.lower().isin(['male', 'female', 'questionable', 'boy', '2 males', 'a sailor', 'males', 'boat', 'child', 'unknown', 'girl']), 'name'] = 'Anonymous'

# Comprobamos

print(df_shark_attacks["name"].value_counts(dropna=False))

# Dejamos algunas inconsistencias, dado que no será relevante para nuestro análisis

name
male                      678
Questionable              219
female                    136
boy                        23
2 males                    17
                         ...
boat Live N Hope            1
Chai Griffin                1
Orlando Oscar da Silva      1
Rachel Gore                 1
Jules Patterson             1
Name: count, Length: 5786, dtype: int64
0
object
name
male                      681
Questionable              219
female                    136
boy                        23
2 males                    18
                         ...
Chai Griffin                1
Orlando Oscar da Silva      1
Rachel Gore                 1
Wolfgang Leander            1
Jules Patterson             1
Name: count, Length: 5780, dtype: int64
name
Anonymous                 1156
sailor                      11
Unknown Male                 7
Unidentified                 6
fisherman                    6
                          ...
Chai Griffin                 1
Orlando Oscar da Silva       1
Rachel Gore                  1
Wolfgang Leander             1
Jules Patterson              1
Name: count, Length: 5765, dtype: int64

In [ ]:
# En esta celda limpiamos `date`

# Comprobamos

print(df_shark_attacks["date"].value_counts())

print(df_shark_attacks["date"].unique())

# Pasamos apply con una función que extrae el mes de la columna date si existe

def mes_map(date):
    meses = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun','Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    date = str(date).title()
    for mes in meses:
        if mes in date:
            return mes
    return None

df_shark_attacks["mes"] = df_shark_attacks["date"].apply(mes_map)

# Comprobamos

print(df_shark_attacks["mes"].value_counts(dropna=False))

# Creamos copia del dataframe antes de eliminar la columna

df_backup_mes = df_shark_attacks.copy()

# Eliminamos

df_shark_attacks.drop(columns=['date'], inplace=True)

# Comprobamos

df_shark_attacks.head()

date
1957           9
1942           8
1958           7
1941           6
1956           6
              ..
28-Apr-2001    1
May-2001       1
03-May-2001    1
04-May-2001    1
1845-1853      1
Name: count, Length: 6107, dtype: int64
['10th January' '8th January' '3rd January ' ... '1900-1905' '1883-1889'
 '1845-1853']
mes
Jul     784
Aug     673
Sep     611
None    598
Jan     570
Jun     549
Oct     503
Dec     494
Apr     493
Nov     459
Mar     458
May     452
Feb     418
Name: count, dtype: int64

,type,country,state,location,activity,name,sex,injury,fatal,species,age_clean,mes
0,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,puncture mark to left thumb,N,Unknown,24,Jan
1,Unprovoked,US Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,Snorkeling,Arlene Lillis,F,Left arm torn off in the attack below the elbow,Y,Unknown,56,Jan
2,Unprovoked,New Caledonia,Kélé,Between Bourail and Moindou,Scuba Diving,Anonymous,M,Injuries to upper limbs,N,Unknown,24,Jan
3,Unprovoked,USA,California,Lovers Point Pacific Grove,Swimming,Erica Fox,F,Taken by shark body recovered with multiple in...,Y,White Shark,55,Dec
4,Unprovoked,USA,Sonoma County California,Salmon Creek,Surfing,Anonymous,M,Hand Injury,N,White Shark,24,Dec

In [108]:
# En esta celda limpiamos `country`

# Comprobamos

print(df_shark_attacks["country"].value_counts())

print(df_shark_attacks["country"].unique())

# Nos quedamos únicamente con un dataframe en el que `country` es solo `USA``

df_shark_attacks = df_shark_attacks.loc[df_shark_attacks["country"] == "USA"].copy()

# Comprobamos 

df_shark_attacks.head()

country
USA                   2576
AUSTRALIA             1482
SOUTH AFRICA           597
NEW ZEALAND            144
PAPUA NEW GUINEA       136
                      ...
GRAND CAYMAN             1
ST. MAARTIN              1
US Virgin Islands        1
GULF OF ADEN             1
CEYLON (SRI LANKA)       1
Name: count, Length: 252, dtype: int64
['Australia' 'US Virgin Islands' 'New Caledonia' 'USA' 'French Polynesia'
 'Samoa' 'Columbia' 'Costa Rica' 'Bahamas' 'Puerto Rico' 'Spain'
 'Canary Islands' 'South Africa' 'Vanuatu' 'Jamaica' 'Israel' 'Mexico'
 'Maldives' 'Philippines' 'Turks and Caicos' 'Mozambique' 'Egypt'
 'Thailand' 'New Zealand' 'Hawaii' 'Honduras' 'Indonesia' 'Morocco'
 'Belize' 'Maldive Islands' 'Tobago' 'AUSTRALIA' 'INDIA' 'TRINIDAD'
 'BAHAMAS' 'SOUTH AFRICA' 'MEXICO' 'NEW ZEALAND' 'EGYPT' 'BELIZE'
 'PHILIPPINES' 'Coral Sea' 'SPAIN' 'PORTUGAL' 'SAMOA' 'COLOMBIA' 'ECUADOR'
 'FRENCH POLYNESIA' 'NEW CALEDONIA' 'TURKS and CaICOS' 'CUBA' 'BRAZIL'
 'SEYCHELLES' 'ARGENTINA' 'FIJI' 'MeXICO' 'ENGLAND' 'JAPAN' 'INDONESIA'
 'JAMAICA' 'MALDIVES' 'THAILAND' 'COLUMBIA' 'COSTA RICA'
 'British Overseas Territory' 'CANADA' 'JORDAN' 'ST KITTS / NEVIS'
 'ST MARTIN' 'PAPUA NEW GUINEA' 'REUNION ISLAND' 'ISRAEL' 'CHINA'
 'IRELAND' 'ITALY' 'MALAYSIA' 'LIBYA' 'Questionable' 'MAURITIUS'
 'SOLOMON ISLANDS' 'ST HELENA, British overseas territory' 'COMOROS'
 'REUNION' 'UNITED KINGDOM' 'UNITED ARAB EMIRATES' 'CAPE VERDE' 'Fiji'
 'DOMINICAN REPUBLIC' 'CAYMAN ISLANDS' 'ARUBA' 'MOZAMBIQUE' 'PUERTO RICO'
 'ATLANTIC OCEAN' 'GREECE' 'ST. MARTIN' 'FRANCE' 'TRINIDAD & TOBAGO'
 'KIRIBATI' 'DIEGO GARCIA' 'TAIWAN' 'PALESTINIAN TERRITORIES' 'GUAM'
 'NIGERIA' 'TONGA' 'SCOTLAND' 'CROATIA' 'SAUDI ARABIA' 'CHILE' 'ANTIGUA'
 'KENYA' 'RUSSIA' 'TURKS & CAICOS' 'UNITED ARAB EMIRATES (UAE)' 'AZORES'
 'SOUTH KOREA' 'MALTA' 'VIETNAM' 'MADAGASCAR' 'PANAMA' 'SOMALIA' 'NEVIS'
 'BRITISH VIRGIN ISLANDS' 'NORWAY' 'SENEGAL' 'YEMEN' 'GULF OF ADEN'
 'Sierra Leone' 'ST. MAARTIN' 'GRAND CAYMAN' 'Seychelles' 'LIBERIA'
 'VANUATU' 'MEXICO ' 'HONDURAS' 'VENEZUELA' 'SRI LANKA' ' TONGA' 'URUGUAY'
 'MICRONESIA' 'CARIBBEAN SEA' 'OKINAWA' 'TANZANIA' 'MARSHALL ISLANDS'
 'EGYPT / ISRAEL' 'NORTHERN ARABIAN SEA' 'HONG KONG' 'EL SALVADOR'
 'ANGOLA' 'BERMUDA' 'MONTENEGRO' 'IRAN' 'TUNISIA' 'NAMIBIA'
 'NORTH ATLANTIC OCEAN' 'SOUTH CHINA SEA' 'BANGLADESH' 'PALAU'
 'WESTERN SAMOA' 'PACIFIC OCEAN ' 'BRITISH ISLES' 'GRENADA' 'IRAQ'
 'TURKEY' 'SINGAPORE' 'NEW BRITAIN' 'SUDAN' 'JOHNSTON ISLAND'
 'SOUTH PACIFIC OCEAN' 'NEW GUINEA' 'RED SEA' 'NORTH PACIFIC OCEAN'
 'FEDERATED STATES OF MICRONESIA' 'MID ATLANTIC OCEAN' 'ADMIRALTY ISLANDS'
 'BRITISH WEST INDIES' 'SOUTH ATLANTIC OCEAN' 'PERSIAN GULF'
 'RED SEA / INDIAN OCEAN' 'PACIFIC OCEAN' 'NORTH SEA' 'NICARAGUA '
 'MALDIVE ISLANDS' 'AMERICAN SAMOA' 'ANDAMAN / NICOBAR ISLANDAS' 'GABON'
 'MAYOTTE' 'NORTH ATLANTIC OCEAN ' 'THE BALKANS' 'SUDAN?' 'MARTINIQUE'
 'INDIAN OCEAN' 'GUATEMALA' 'NETHERLANDS ANTILLES'
 'NORTHERN MARIANA ISLANDS' 'IRAN / IRAQ' 'JAVA' 'SIERRA LEONE'
 ' PHILIPPINES' 'NICARAGUA' 'CENTRAL PACIFIC' 'SOLOMON ISLANDS / VANUATU'
 'SOUTHWEST PACIFIC OCEAN' 'BAY OF BENGAL' 'MID-PACIFC OCEAN' 'SLOVENIA'
 'CURACAO' 'ICELAND' 'ITALY / CROATIA' 'BARBADOS' 'MONACO' 'GUYANA'
 'HAITI' 'SAN DOMINGO' 'KUWAIT' 'YEMEN ' 'FALKLAND ISLANDS' 'CRETE'
 'CYPRUS' 'EGYPT ' 'WEST INDIES' 'BURMA' 'LEBANON' 'PARAGUAY'
 'BRITISH NEW GUINEA' 'CEYLON' 'OCEAN' 'GEORGIA' 'SYRIA' 'TUVALU'
 'INDIAN OCEAN?' 'GUINEA' 'ANDAMAN ISLANDS' 'EQUATORIAL GUINEA / CAMEROON'
 'COOK ISLANDS' 'TOBAGO' 'PERU' 'AFRICA' 'ALGERIA' 'Coast of AFRICA'
 'TASMAN SEA' 'GHANA' 'GREENLAND' 'MEDITERRANEAN SEA' 'SWEDEN' 'ROATAN'
 'Between PORTUGAL & INDIA' 'DJIBOUTI' 'BAHREIN' 'KOREA' 'RED SEA?'
 'ASIA?' 'CEYLON (SRI LANKA)']

,type,country,state,location,activity,name,sex,injury,fatal,species,age_clean,mes
3,Unprovoked,USA,California,Lovers Point Pacific Grove,Swimming,Erica Fox,F,Taken by shark body recovered with multiple in...,Y,White Shark,55,Dec
4,Unprovoked,USA,Sonoma County California,Salmon Creek,Surfing,Anonymous,M,Hand Injury,N,White Shark,24,Dec
5,Provoked,USA,Hawaii West Coast Big Island,"Ka'alu""alu Beach",Freeing trapped shark,Josiah Kaimani Ventura,M,Bite wounds to thigh,N,Other Shark,24,Dec
10,Unprovoked,USA,Hawaii,Pine Trees Hanalei Bay Kaui,Swimming,Chance Swanson,M,Injuries to legs,N,Unknown,24,Nov
11,Unprovoked,USA,Texas,Matagorda Beach Matagorda,Fishing,Chuck Bledsoe,M,Laceration on top and undermeath right foot,N,Unknown,24,Nov

In [ ]:
# En esta celda limpiamos `activity`

# Comprobamos

print(df_shark_attacks["activity"].value_counts(dropna=False))

print(df_shark_attacks["activity"].isnull().sum())

print(df_shark_attacks["activity"].dtype)

print(df_shark_attacks["activity"].unique())

# Definimos función para pasarle a `apply`

def activity_maping(activity):
    activity = activity.strip().lower()
    if "surf" in activity:
        return "surfing"
    if "swim" in activity:
        return "swimming"
    if "fishing" in activity:
        return "fishing"
    if "diving" in activity:
        return "diving"
    if "snorkel" in activity:
        return "snorkel"
    if "hunt" in activity:
        return "hunting"
    if "question" in activity:
        return "questionable"
    else:
        return activity.strip().lower()
    
df_shark_attacks["activity"] = df_shark_attacks["activity"].apply(activity_maping)

# Comprobamos

print(df_shark_attacks["activity"].value_counts())

activity
Surfing                                 664
Swimming                                370
Questionable                            155
Fishing                                 140
Wading                                  124
                                       ...
Swimming with mask & snorkel              1
Swimming in fish tank                     1
Surfing / Swimming                        1
Body surfing, stood up on sandbar         1
Free diving, collecting sand dollars      1
Name: count, Length: 541, dtype: int64
0
object
['Swimming' 'Surfing' 'Freeing trapped shark' 'Fishing' 'Snorkeling'
 'Diving' 'Undisclosed' 'Diving into Water' 'Wading'
 'Playing football in the water'
 'Unconfirmed Possibly swimming near the boat harbour'
 'Swimming ocean training ' 'Spearfishing' 'Kayak fishing'
 'Boogie boarding' 'Sitting' 'Standing' 'Filming' 'Shark Feeding'
 'Windsurfing' 'Kite-Surfing' 'Spearishing' 'Shipwreck'
 'Swimming  or Snorkeling' 'Paddleboarding' 'Lobstering' 'Questionable'
 'Lifeguard Training Exercise' 'Lifeguard Exercises' 'Scalloping'
 'Jumped into water' 'Feeding sharks & stingrays' 'Kayaking'
 'Wing Foil Surfing' 'Boogie Boarding' 'Fishing, fell in water' 'Playing'
 'Canoeing' 'Kite Foiling' 'Boggie boarding' 'Tagging sharks'
 'Body surfing' 'Body Surfing' 'Surf fishing' 'Treading water'
 'Skimboarding' 'Body Boarding' 'Stand-Up Paddleboarding'
 'Stand-Up Paddle boarding' 'Swimming/ Treading water'
 'Spearfishing / Diving' 'Fishing ' 'Body-surfing' 'Swimming with sharks'
 'Picking opihi' 'Paddling an outrigger canoe' 'Diving / Filming'
 'Swimming/Standing' 'Paddling' 'Walking' 'Body boarding' 'Surfing ' 'SUP'
 'Touching a shark' 'Feeding sharks' 'Photo shoot' 'Paddle boarding'
 'Not stated' 'Floating' 'Surfng' 'SUP Foil boarding' 'Kite surfing'
 'Floating in tube' 'Teasing a shark' 'Photographing fish' 'Kayak Fishing'
 'Playing in the water' 'Body surfing?' 'Attempting to rescue a shark'
 'Photographing the shark' 'Standing / Snorkeling' 'Shark fishing'
 'Swimming after falling overboard' 'Standing in inner tube'
 'Body surfing or Boogie boarding' 'Kayaking ' 'Fishing for sharks'
 'Kite boarding' 'Kneeling in the water' 'Kite Surfing'
 'Free diving / Photographing pilot whales' 'Kayaking / Fishing'
 'Kiteboarding' 'Diving ' 'Casting a net' 'Marathon swimming'
 'Walking in surf' 'Swimming ' 'Playing in the surf'
 'Swimming or boogie boarding' 'Wading or swimming' 'Free diving '
 'Sitting in the water' 'Wade fishing' 'Jumping in the waves'
 'Wade Fishing' 'Floating ' 'Jet skiing' 'Scuba diving'
 'Standing or boogie boardin' 'Standing, holding shark pup'
 'Measuring sharks' 'Surf fishing / wading' 'Kite Boarding'
 'Paddle-surfing' 'Crawling' 'Air Disaster' 'Swimming, towing surfboard'
 'Walking out of the water after surfing' 'Surf-skiing'
 'Fishing for snapper' 'Wading?' 'Jumping'
 'Floating near boat & observing bioluminesce' 'Jumped into the water'
 'Surf paddling' 'Removing hook from shark' 'Reviving a sedated shark'
 'Playing on a sandbar' 'Shrimping' 'Playing soccer in the water'
 'Diving / Kissing the shark' 'Touching sharks' 'Free diving'
 'Night Surfing' 'Treading water/ Surfing' 'Standing / Surfing'
 'Boogie boarding, kicked at object in the water'
 'Holding onto an inflatable boat' 'Swimming with boogie board'
 "Crouching in 2' of water" 'Sea Disaster'
 'Diving in aquarium display tank'
 'Wading / fishing & carrying a bag of fish'
 'In water with diving seabirds' 'Boogie-boarding / swimming'
 'Tandem surfing' 'Swimming to shore from boat or kayak'
 'Sitting on surfboard' 'Wading near a fishing net'
 'Standing, stepped on shark' 'Wade-fishing'
 'Swimming, wearing black wetsuit & swim fins'
 'Walking, carrying surfboard & stepped on shark'
 'Swimming with pod of dolphins' 'Swimming (using a float)'
 'Petting captive sharks' 'Fishing from Surfboard'
 'Boogie boarding or Surfing' 'Wading, when he stepped on the shark'
 'Shark Fishing' 'Floating on a raft'
 'Fishing, removing the shark from his line'
 'Playing in the surf with his 2 dogs'
 'Surfing, but standing in water alongside board' 'Swimming / Wading'
 'Body-boarding' 'Swimming /  boogie boarding'
 'Surfing, fell off surfboard & stepped on the shark.'
 'Wreck / Technical diving' 'Walking in shallows'
 'Floating face-down in knee-deep water' 'Standing alongside surfboard'
 'Swimming / snorkeling' 'Standing / surfing' 'Swimming / Body surfing'
 'Conducting research' 'Swimming out to porpoises '
 'Windsurfing, but sitting on his board' 'Surfing / Wading'
 'Attempting to illegally enter the USA'
 'Spearfishing, holding mesh bag with speared fish' 'Sailing'
 'Boogie boarding / wading' 'Fishing for tarpon'
 'Surfing (sitting on his board)' 'Surfing, lying on surfboard'
 'Wading to shore after surfing' 'Wading with surfboard'
 "Lying prone in 2' of water" 'Swimming with dolphins'
 'Wading in school of baitfish' 'Adrift in a life jacket'
 'Splashing / wading' 'Swimming, towing a kayak'
 'Body surfing or body boarding' 'Swimming near pod of whales' 'Cruising'
 'Swimming / surfing' 'Surfing (lying prone on his board)'
 'Swimming or paddle boarding'
 'Spearfishing on scuba & transferring fish onto a stringer'
 'Body boarding or surfing' 'Walking / surfing' 'Floating on raft'
 'Wading / Surfing' 'Spearfishing / night diving'
 'Body surfing, stood up on sandbar' 'Surfing / Swimming'
 'Free diving for abalone' 'Swimming in fish tank'
 'Swimming with mask & snorkel'
 'Abalone diving using Hookah (resting on the surface)' 'On a float'
 '"Riding waves on a board"' 'Jumped off surfboard & landed on the shark'
 'Scuba diving (ascending using scooter)' 'Playing / jumping'
 'Surfing, sitting on board'
 'Commercial diver (submerged or treading water)'
 'Surfing, paddling seawards' 'Adrift on refugee raft'
 'Jumped off rocks into white water' 'Freediving for seashells'
 'Removing shark from tank in nightclub ' 'Surfing, paddling shorewards'
 'Watching the shark feeding on a dead pinniped'
 'Riding floatation device' 'Free diving for abalone (ascending)'
 'Paddling on surfboard or body board' 'Floating on his back'
 'Paddling on surfboard' 'Free diving & spearfishing (ascending)'
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish'
 'Lying on surfboard' 'Spearfishing / free diving'
 'Scuba diving (submerged)' 'Hookah diving for sea urchins'
 'Fell from cliff while fishing & disappeared in strong current'
 'Fisherman'
 "Zosimo & his son, Jeffrey Popa, failed to return from overnight fishing trip in a 14' boat, Boat apparently sank, debris recovered but his son & boat were never found"
 'Scuba diving '
 'Fishing from rocks, swept out to sea by large wave & treading water'
 'Swimming from makeshift raft  to life vest after fishing boat sank'
 'Swimming behind sailboat' 'Surfing, collided with shark'
 'Scuba diving (but on surface)'
 'Free diving / spearfishing, from paddleboard & floating on the surface'
 'SCUBA diving' 'Scuba diving & spearfishing' 'Board sailing'
 "On board 51' fishing vessel One Ki"
 'Wading, knocked down & swept away by large waves'
 "Fishing, stepped on hooked shark's head"
 'Observing a shark feeding on a carcass of a humpback whale'
 'Hookah diving for abalone (descending)' "Filming 5' blue shark"
 'Playing ' "Fell off surfboard 20' from shore"
 'Swimming in strong current with 3 others when he disappeared'
 'Spearfishing using scuba & trailing a string of bleeding fish'
 "Diving in Sharkey's Reef restaurant’s aquarium"
 'Sittting in water with his child' 'Surfing / treading water'
 "Onboard 21' powerboat that capsized in rough seas" 'Standing '
 'Dropping anchor' 'Swimming from shore to anchored sailboat'
 'Free diving  & spearfishing (submerged)'
 'Fishing, fell from rocks & disappeared' 'Boat'
 'Diving for abalone (Hookah)'
 'Floating on inner tube after diving for lobster'
 'Free diving & spearfishing (descending)'
 'Bottom fishing for lingcod & had hooked a fish'
 'Playing in knee-deep water' 'Surfing, but lying prone on his board'
 'Scuba Diving for lobster (at surface)' 'Surfing or body surfing'
 'Free diving , but surfacing' 'Skindiving' 'Boat capsized?'
 "During a shark fishing tournament, the 18' Boatem was capsized by waves, throwing 3 men into the water "
 'Towing her sister on plastic ski board' 'Steinhart Aquarium'
 'Floating on air mattress'
 'Surfing & dangling foot in water amid baitfish' 'Water-skiing'
 'In waist-deep water' 'Yacht Trashman capsized in storm'
 'Free diving for abalone from Zodiac (submerged)' 'Paddle Boarding'
 'Sailboarding, fell into water 100 yards outside the breakwater'
 'Spearfishing, but swimming on surface'
 "Diving to untangle a crab trap line from boat's propeller"
 "16' catamaran capsized previous night, occupants stayed with wreckage until morning, then attempted to swim ashore"
 'Scuba diving, reportedly also spearfishing' 'Standing / Wading'
 'Commercial spearfishing' 'Resting on body board'
 'Floating with life preserver after his boat foundered'
 'Floating on inner tube raft'
 "Explosion destroyed 28' boat, survivors in the water "
 'Swimming, after single-engine aircraft went down in the sea'
 'Free diving for abalone (surfacing)' "40' fishing boat sank"
 'Spearfishing / Scuba diving' 'Collecting fish from net'
 'Diving for abalone (Hookah, submerged)' 'Surfing, fell off surfboard'
 'Spearfishing / scuba diving' 'Floating on a small orange raft '
 'Sea disaster' 'Diving for abaone (Scuba, but at surface)'
 'Swimming near his boat' 'Bathing' 'Floating in inner tube'
 ' Diving for abalone (Hookah)' 'Free diving for abalone (submerged)'
 'Adrift after the sinking of the motor yacht Princess Dianne'
 'Free diving (but on surface)' 'Crabbing (spearing crabs)'
 'Hookah diving (submerged)' 'Scuba diving for lobsters'
 'Free diving for abalone but at surface' 'Surf-fishing'
 'Spearfishing using Scuba' 'Playing with a frisbee in the shallows'
 'Clamming' 'Standing on sandbar' "Boat capsized between O'ahu & Molokai"
 'Pulling shark from the water' 'Hunting crayfish '
 'Spearfishing on Scuba' 'Diving for sand dollars' 'Killing a shark'
 'Free diving / spearfishing (resting on the surface)'
 'Diving, retrieving film package from Titan 3C rocket'
 'Aircraft exploded' 'Motor boat Rebel Belle lost'
 'Dangling feet in the water' 'Collecting marine specimens'
 'Longline fishing' 'Boat Miss Becky  sank 12 miles from shore'
 'Spearfishing using scuba'
 'Yacht Gooney Bird foundered, 4 survivors on raft'
 'Attempting to swim across the Atlantic Ocean' 'Skin diving '
 'Spearfishing / Scuba diving (at surface)' 'Testing anti-shark cage'
 'Surf fishing, wading '
 'Commercial fishing vessel, Ev-nn, struck object & sank. Ken Crosby and  Jame & Ann Dumas adrift on makeshift raft.'
 'Spearfishing, pulled shark’s tail'
 'Fishing, on charter boat Silver Dollar'
 'Washed into sea while picking opihi'
 'S.S. Marine Sulphur Queen, laden with molten sulphur was bound from Beaumont, Texas for Norfolk, VA, when she disappeared with 39 on board'
 "Overcome by CO fumes, fell overboard from 36' fishing cruiser & prop slashed arm"
 'Diving for abalone ' 'Surf fishing in waist-deep water'
 'Fishing for albacore' 'Playing in surf with his child  (9)'
 'Dived from inner-tube'
 'U.S. Airforce crewman reported missing after bailing out of jet'
 'Rolled off raft' 'Escaping from Alacatraz'
 'Scuba diving, attempting to catch a captive shark'
 '25-foot cabin cruiser Happy Jack sank in heavy seas'
 'Net fishing, picking catch from the net' 'Scuba diving & spearfishing '
 'Walking in chest-deep water' 'Splashing ' 'Cleaning a tank'
 'Light aircraft ditched at sea' 'Swept out to sea while net fishing'
 'Fell overboard, prop slashed arm' 'Ejected from F3H-2 aircraft '
 'Fishing inside net' 'Swimming 3 miles offshore'
 'Aircraft crashed into sea' 'Standing in knee-deep water'
 'Holding shark on leader & dangling it above the water'
 'Fishing, Struck by another shark when removing shark from line'
 'Swimming from camp' 'Pulling raft out to ride to shore'
 'Fishing, tossing netted shark onboard'
 'Testing classified underwater electronic gear for Raytheon Corporation, vessel torn apart by explosion'
 'Free diving for abalone diving but at surface)'
 'S2F-1 airplane crashed immediately after carrier take-off'
 'National Airlines DC7B enroute from Miami to Los Angeles with 42 or 46 people on board went down in heavy fog'
 "Swimming at surface through school of feeding 2.5' to 5’ sharks"
 "Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore"
 'Gigging for flounder' 'Pulling hooked salmon to boat'
 'On inflatable raft'
 'Spearfishing with Joe Turner (24). Shark attracted to speared halibut on belt of one diver, tried to bite Ide’s speargun & he shot it in the mouth'
 'Pulling anchor' 'Spearfishing (but on surface)'
 'Dragging stranded shark ashore' 'On boat, preparing to dive'
 'Surfing on air mattress' 'Swimming near jetty'
 'Swimming, ducking for shells in water 0.9 m deep'
 'Swimming, towing the shark' 'Attempting to net shark in shark channel'
 '3 men & 2 boys picked up wearing life jackets and with inner tube'
 'Skindiving for specimens' 'Helmet diving in Miami Seaquarium'
 'Skin diving' 'Swimming near pier' 'Removing shark from net '
 'Fishing for pompano' 'Hunting turtle' 'Swimming near breakwater'
 'Fishing from boat, Kaimamla'
 'American freighter Mormackite, bound from Buenos Aires for Baltimore, capsized & sank in heavy seas'
 'Grabbed shark & threw it on deck' 'Fishing from shore'
 'Aircaft exploded' 'Crabbing' 'Fishing from market fishboat Sea Spray'
 'Accidentally dragged overboard from the sampan Holokahana into school of yellowfin tuna'
 'Bitten while cutting shark from net' 'Body surfing & treading water'
 'Swimming from fishing boat setting nets' 'Fishing for trout '
 'Boat exploded' 'Spearfishing, carrying fish on spear'
 'Swimming on surface' 'Swept out to sea while fishing'
 'Body surfing / treading water'
 'Goggle-diving for seaweeds, but standing in water'
 'Survived crash of two-engine  C-46 transport plane carrying 62 migrant workers from Puerto Rico to USA '
 'Fishing, one of three fishermen swept into the sea by a large wave '
 'C47 aircraft carrying 5,000 lbs of ice ditched in the sea'
 'Underwater photography' 'Fishing for mackerel'
 'The Cuban freighter Libertad was torpedoed and sunk by the German submarine U-129'
 'Treading water after survivng crash of the US Navy airship K-74 that was hit by the German submarine U-134'
 'Small boat swamped, 4  people swimming to shore but he fell behind the other 3 and vanished'
 'Plane crashed in water, men in life raft' 'Swimming at edge of channel'
 'Fishing for tuna' "Fishing from 32' boat"
 'Spearfishing & had just speared a ulua' 'Seine netting'
 'Washed off freighter Huncliff by a freak wave'
 "Fishing, removing gaff from shark's mouth"
 'Tzenny Chandris, a Greek freighter laden with scrap iron, foundered in heavy weather'
 'Diving, attempting to retrieve body of drowning victim wedged between rocks'
 'Swimming crawl stroke' 'Fishing for bluefish'
 'fishing boat exploded & sank'
 'Fishing for bluefish, shark leapt into dory'
 "Fishing, caught a 15' shark & took it onboard" "Sitting in 3' of water"
 'Fishing, had just speared a ulua'
 'Gaffing & attempting to bring onboard a harpooned shark'
 'Swimming / floating' 'Sponge diving' 'Hardhat diving '
 'Sea Disaster, sinking of the  SS Vestris'
 'Jumped overboard and swimming' 'Swimming with dog near canning factory'
 'Removing shark from a net' 'Hoisting shark aboard fishing boat'
 'Freediving, inspecting Kaunakakai wharf construction after blasting & dredging '
 '"Swimming vigorously"' 'Knocked into the water'
 'Swimming, towing an empty barrel' 'Stuffing a shark into an automobile'
 'Swimming beside launch' 'Fishing, attempted to take a netted shark'
 'Swimming (recovering remains of Stilwell) '
 'Washed into sea while picking opihi & attacked by 2 large sharks '
 'Fell overboard from steamship Rio Grande'
 'Jumped overboard to rescue companion' 'Fell overboard & swimming'
 'Unknown, their unoccupied yawlboat was recovered'
 'Hard hat diving, laying some charge of powder'
 'Fishing, thrown into water by heavy sea, clinging to rocks at the water line'
 'Fell overboard from fishing schooner Halycon'
 'Fell overboard while fishing for sharks'
 'Reported swept away by waves while gathering opihi'
 'On fishing boat & trailing hand in the water'
 'The British steamer Caribbee foundered'
 'Gathering fish stunned by dynamite'
 'Diving, retrieving fish caught in net ' 'Floating in creek'
 'Fishing,  tarpon being chased by shark  leapt across his skiff, breaking it in half & Larkin became tangled in the net'
 'Net fishing, fell into the water' 'Fell overboard'
 'Swimming from naptha launch after a day of fishing' 'Harpooning turtles'
 'Diving on a wreck' 'Catching crabs' 'Hunting seashells' ' '
 'Hunting sharks' 'Rowing' 'Hunting crayfish' 'Jumped overboard'
 'Fishing (Seining)' 'Loss of the schooner Nomad' 'Angling'
 'Swimming ashore from a "filibuster"' 'Swimming / floating on his back'
 'Bathing ' 'Shooting sharks '
 'Fishing for sharks when he became entangled in net & fell overboard'
 'Treading for clams' 'Parachuted from balloon'
 'Crossing inlet in a boat, seen fighting sharks with his oar, sharks smashed boat'
 'Netting menhaden, sharks caught in net'
 'Fishing from shore, washed into the sea'
 'Wreck of the schooner Pohoiki ' 'Watercraft' 'Knocked overboard'
 'Jumped overboard '
 'During "an exhibition" he was tied in sack & thrown overboard '
 'Floating with life buoy after pilot launch capsized'
 'Swimming alongside the schooner Catherine Wilcox'
 'Wreck of the Aphrodite' 'ship William Penn grounded & broke apart'
 'Commercial Salvage Diving' 'Hard hat diving'
 'He was fighting a shark when his boat capsized & he disappeared'
 'Vessel capsized, wading ashore carrying an oar' 'Swimming after his hat'
 'Attempting to rescue woman seized by shark' 'Hilo' 'Harassing a shark'
 'Accidentally thrown overboard & treading water while awaiting rescue'
 'American schooner Orator capsized  '
 'Fishing from dory, shark upset boat & he fell into the water'
 'Fell overboard from the ship Gem' 'Fell into the water'
 'Fishing for basking sharks' 'Shark tagging' 'Kitesurfing'
 "Skin diving. Grabbed shark's tail; shark turned & grabbed diver's ankle & began towing him to deep water"
 'Free diving, collecting sand dollars']

In [123]:
# En esta celda limpiamos `state`

# Comprobamos

print(df_shark_attacks["state"].value_counts(dropna=False))

print(df_shark_attacks["state"].unique())

print(df_shark_attacks["state"].nunique())

# Definimos función para formatear nombres

def state_format(state):
    state = state.strip().lower()
    if "flor" in state:
        return "Florida"
    if "hawai" in state:
        return "Hawaii"
    if "cali" in state:
        return "California"
    if "baha" in state:
        return "Bahamas"
    else:
        return state.strip().title()
    
df_shark_attacks["state"] = df_shark_attacks["state"].apply(state_format)

# Comprobamos

print(df_shark_attacks["state"].value_counts(dropna=False))

print(df_shark_attacks["state"].unique())

print(df_shark_attacks["state"].nunique())

state
Florida                     1192
Hawaii                       344
California                   326
South Carolina               174
North Carolina               119
                            ...
Franklin County, Florida       1
Virgin Islands                 1
Sonoma County California       1
Cayman Islands                 1
CUBA                           1
Name: count, Length: 61, dtype: int64
['California' 'Sonoma County California' 'Hawaii West Coast Big Island'
 'Hawaii' 'Texas' 'Off California' 'Florida' 'Massachusetts'
 'Long Island NY' 'South Carolina' 'North Carolina' 'Floria' 'Galveston'
 'New York' ' Utah' 'New Jersey' 'Samoa' 'Louisiana' 'Mississippi'
 'Noirth Carolina' 'Georgia' 'Alabama' 'Los Angeles' 'Maryland' 'BAHAMAS'
 'Maui' 'Oregon' 'Franklin County, Florida' 'Virgin Islands' 'Maine'
 'Bahamas' 'Delaware' 'Guam' 'Cayman Islands' 'Rhode Island' 'Washington'
 'Questionable' 'Palmyra Atoll' 'Puerto Rico' 'Virginia'
 'US Virgin Islands' 'Kentucky' 'New Mexico' 'South Carolina '
 'Johnston Atoll' 'Alaska' 'Missouri' 'North Carolina '
 'North & South Carolina' 'Carolina coast' 'Florida ' 'Connecticut'
 'Pennsylvania' 'Illinois' 'Wake Island' ' North Carolina' 'Midway Atoll'
 'East coast' ' New Jersey' 'New York ' 'CUBA']
61
state
Florida                   1195
Hawaii                     345
California                 328
South Carolina             175
North Carolina             122
Texas                       83
New Jersey                  56
New York                    48
Oregon                      31
Massachusetts               19
Virginia                    19
Louisiana                   18
Puerto Rico                 17
Georgia                     17
Alabama                     17
Maryland                    10
Mississippi                  8
Rhode Island                 8
Delaware                     8
Questionable                 7
Connecticut                  6
Us Virgin Islands            5
Guam                         2
Palmyra Atoll                2
Washington                   2
East Coast                   2
Maine                        2
Maui                         2
Bahamas                      2
Cayman Islands               1
Missouri                     1
Long Island Ny               1
Midway Atoll                 1
Wake Island                  1
Illinois                     1
Pennsylvania                 1
Galveston                    1
Carolina Coast               1
North & South Carolina       1
Alaska                       1
Virgin Islands               1
Johnston Atoll               1
New Mexico                   1
Kentucky                     1
Utah                         1
Samoa                        1
Noirth Carolina              1
Los Angeles                  1
Cuba                         1
Name: count, dtype: int64
['California' 'Hawaii' 'Texas' 'Florida' 'Massachusetts' 'Long Island Ny'
 'South Carolina' 'North Carolina' 'Galveston' 'New York' 'Utah'
 'New Jersey' 'Samoa' 'Louisiana' 'Mississippi' 'Noirth Carolina'
 'Georgia' 'Alabama' 'Los Angeles' 'Maryland' 'Bahamas' 'Maui' 'Oregon'
 'Virgin Islands' 'Maine' 'Delaware' 'Guam' 'Cayman Islands'
 'Rhode Island' 'Washington' 'Questionable' 'Palmyra Atoll' 'Puerto Rico'
 'Virginia' 'Us Virgin Islands' 'Kentucky' 'New Mexico' 'Johnston Atoll'
 'Alaska' 'Missouri' 'North & South Carolina' 'Carolina Coast'
 'Connecticut' 'Pennsylvania' 'Illinois' 'Wake Island' 'Midway Atoll'
 'East Coast' 'Cuba']
49

In [ ]:
# Dejamos `injury` y `location`` sin limpiar para hacer búsqueda semántica

In [124]:
df_shark_attacks.head()

,type,country,state,location,activity,name,sex,injury,fatal,species,age_clean,mes
3,Unprovoked,USA,California,Lovers Point Pacific Grove,swimming,Erica Fox,F,Taken by shark body recovered with multiple in...,Y,White Shark,55,Dec
4,Unprovoked,USA,California,Salmon Creek,surfing,Anonymous,M,Hand Injury,N,White Shark,24,Dec
5,Provoked,USA,Hawaii,"Ka'alu""alu Beach",freeing trapped shark,Josiah Kaimani Ventura,M,Bite wounds to thigh,N,Other Shark,24,Dec
10,Unprovoked,USA,Hawaii,Pine Trees Hanalei Bay Kaui,swimming,Chance Swanson,M,Injuries to legs,N,Unknown,24,Nov
11,Unprovoked,USA,Texas,Matagorda Beach Matagorda,fishing,Chuck Bledsoe,M,Laceration on top and undermeath right foot,N,Unknown,24,Nov