In [321]:
import pandas as pd

url = "https://www.sharkattackfile.net/spreadsheets/GSAF5.xls"

df_shark_attacks = pd.read_excel(url)
df_shark_attacks

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,10th January,2026.0,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,...,Unknown,Bob Myatt GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8th January,2026.0,Unprovoked,US Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,Snorkeling,Arlene Lillis,F,56,...,Unknown,Todd Smith: KevinMcMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3rd January,2026.0,Unprovoked,New Caledonia,Kélé,Between Bourail and Moindou,Scuba Diving,Unknown,M,?,...,Unknown,Andy Currie: Province Sud:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21st December,2025.0,Unprovoked,USA,California,Lovers Point Pacific Grove,Swimming,Erica Fox,F,55,...,Great White Shark,Kevin McMurray Tracking sharks.com: Ralph Coll...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12th December,2025.0,Unprovoked,USA,Sonoma County California,Salmon Creek,Surfing,Unknown,M,?,...,Suspected Great White Shark,Kevin McMurray Tracking sharks.com:Andrew Curr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7060,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7061,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7062,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7063,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7064,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [322]:
df_shark_attacks.shape

(7065, 23)

In [323]:
print(df_shark_attacks.isnull().sum())

Date                 0
Year                 2
Type                18
Country             50
State              487
Location           567
Activity           585
Name               219
Sex                579
Age               2995
Injury              35
Fatal Y/N          561
Time              3527
Species           3131
Source              20
pdf                266
href formula       271
href               269
Case Number        267
Case Number.1      268
original order     266
Unnamed: 21       7064
Unnamed: 22       7063
dtype: int64

Comprobacion de nulo de cada columna

Gestion de columnas y duplicados

In [324]:
df_shark_attacks.columns = [x .lower().strip() for x in df_shark_attacks.columns]
df_shark_attacks.columns

Index(['date', 'year', 'type', 'country', 'state', 'location', 'activity',
       'name', 'sex', 'age', 'injury', 'fatal y/n', 'time', 'species',
       'source', 'pdf', 'href formula', 'href', 'case number', 'case number.1',
       'original order', 'unnamed: 21', 'unnamed: 22'],
      dtype='object')

Convertimos en minusculas las columnas

In [325]:
df_shark_attacks.rename(columns={'species ': 'species', 'sex ': 'sex'}, inplace=True)

Modificacion de los nombres, ya que tenian espacios

In [326]:
columnas_a_borrar = ['unnamed: 21', 'pdf', 'href','href formula','case number','case number.1','original order', 'unnamed: 21', 'unnamed: 22', 'time', 'source', 'year']
df_shark_attacks.drop(columns=[col for col in columnas_a_borrar if col in df_shark_attacks.columns], inplace=True)

Borrado de columnas no necesarias para el analisis

In [327]:
df_shark_attacks.drop_duplicates(inplace=True) 
df_shark_attacks.reset_index(drop=True,inplace=True)

Borrado de duplicados y reseteo de indice

In [328]:
df_shark_attacks['year'] = df_shark_attacks['year'].fillna(0)
df_shark_attacks['year'] = pd.to_numeric(df_shark_attacks['year'], errors='coerce').fillna(0).astype(int)

KeyError: 'year'

Imputacion de los nulos a 0 y convertir la columna 'year' a entero

In [ ]:
print( df_shark_attacks['year'].min())
print( df_shark_attacks['year'].max())

0
2026

Comprobacion de minimo y maximo en columna year

In [ ]:
year_actual = df_shark_attacks[df_shark_attacks['year'] > 1900]
year_actual

,date,year,type,country,state,location,activity,name,sex,age,injury,fatal y/n,species
0,10th January,2026,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,puncture mark to left thumb,N,Unknown
1,8th January,2026,Unprovoked,US Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,Snorkeling,Arlene Lillis,F,56,Left arm torn off in the attack below the elbow,Y,Unknown
2,3rd January,2026,Unprovoked,New Caledonia,Kélé,Between Bourail and Moindou,Scuba Diving,Unknown,M,?,Injuries to upper limbs,N,Unknown
3,21st December,2025,Unprovoked,USA,California,Lovers Point Pacific Grove,Swimming,Erica Fox,F,55,Taken by shark body recovered with multiple in...,Y,Great White Shark
4,12th December,2025,Unprovoked,USA,Sonoma County California,Salmon Creek,Surfing,Unknown,M,?,Hand Injury,N,Suspected Great White Shark
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6296,17-Jul-1901,1901,Invalid,ITALY,Syracuse,Capo Santa Croce,Swimming,Antonio Tornatori,M,20,"Disappeared, but shark involvement unconfirmed",NaN,Questionable
6297,Reported 29-Jun-1901,1901,Invalid,YEMEN,Aden,NaN,Diving around anchored liner,boy,M,NaN,NaN,NaN,Questionable
6298,24-Jun-1901,1901,Unprovoked,PHILIPPINES,Western Viscayas,"Island of Panay, Iliolo",Swimming,"S. McKie, apprentice 1st class on the U.S. Nav...",M,NaN,"Left thigh stripped of flesh 4"" above the knee",N,NaN
6299,30-Jan-1901,1901,Unprovoked,AUSTRALIA,Queensland,Brisbane,Bathing,John Thompson,M,NaN,"Thigh bitten, FATAL",Y,NaN
6300,Summer 1901,1901,Unprovoked,USA,Florida,Indian River Inlet / Fort Pierce Inlet,Bathing,Michael O'Brien,M,NaN,Abdomen bitten,N,NaN

Creacion de variable para utilizar los años desde 1900

In [ ]:
df_shark_attacks['year'] = pd.to_numeric(df_shark_attacks['year'], errors='coerce')

convertimos year a numerico

In [ ]:
for col in ['country','location']:
    df_shark_attacks[col] = df_shark_attacks[col].fillna('UNKNOWN').astype(str).str.strip()

df_shark_attacks['country'] = df_shark_attacks['country'].str.upper()
df_shark_attacks['location'] = df_shark_attacks['location'].str.title()

Limpieza de strings a mayuscula en country y añadir titulos. Tambien he rellenado los nulos con UNKNOWN

In [ ]:
df_shark_attacks['name'] = df_shark_attacks['name'].fillna('Anonymous').astype(str).str.strip()
df_shark_attacks.loc[df_shark_attacks['name'].str.lower().isin(['male', 'female']), 'name'] = 'Anonymous'

Rellenar los nulos de la columna name con Anonymous
Reemplazar valores male y female como Anonymous

In [ ]:
df_shark_attacks['age'].value_counts()

age
16          92
19          90
17          89
17          85
18          85
            ..
46 & 34      1
12 or 13     1
18 or 20     1
86           1
13 or 14     1
Name: count, Length: 251, dtype: int64

comprobar valores en columna age para saber como actuar

In [ ]:
df_shark_attacks['age'] = df_shark_attacks['age'].astype(str)

Cambiar la columna age que  tipo string ya que tiene muchos valores como nan

In [ ]:
df_shark_attacks['age_clean'] = pd.to_numeric(df_shark_attacks['age'], errors='coerce')

Creacion de una columna nueva de Age = age_clean

In [ ]:
df_shark_attacks['age_clean'].isnull().sum()

np.int64(3144)

Comprobacion de nulos por imputar

In [ ]:
age_mediana = df_shark_attacks['age_clean'].median()
age_mediana

24.0

Calculamos la mediana de la edad para sacar conclusiones

In [ ]:
df_shark_attacks['age_clean'] = df_shark_attacks['age_clean'].fillna(age_mediana)

Rellenamos los NaN con la mediana

In [ ]:
df_shark_attacks['age_clean'] = df_shark_attacks['age_clean'].astype(int)

convertimos a entero para quitar los decimales

In [ ]:
df_shark_attacks['age_clean'].unique()

array([24, 56, 55, 26, 25, 61, 40, 13, 14, 54, 48, 57,  8, 63,  9, 39, 19,
        7, 85, 69, 18, 66, 21, 37, 16, 20, 12, 42, 45, 30, 29, 35, 58, 17,
       36, 23, 28, 27, 38, 68, 33, 15, 41, 43, 49, 46, 65, 64, 11, 32, 10,
       62, 22, 52, 44, 47, 59, 50, 34, 77, 60, 73, 67,  6, 53, 51, 31, 71,
       75, 70,  4, 74,  3, 82, 72,  5, 86, 84, 87,  1, 81, 78])

Comprobacion de datos en Age_clean

In [ ]:
df_shark_attacks.drop(columns=['age'], inplace=True)

Borrado de la tabla age antigua

In [ ]:
df_shark_attacks

,date,year,type,country,state,location,activity,name,sex,injury,fatal y/n,species,age_clean
0,10th January,2026,Unprovoked,AUSTRALIA,NSW,Avalon Beach,Surfing,Paul Stanton,M,puncture mark to left thumb,N,Unknown,24
1,8th January,2026,Unprovoked,US VIRGIN ISLANDS,Fredricksted Island St Croix,Dorsch Beach,Snorkeling,Arlene Lillis,F,Left arm torn off in the attack below the elbow,Y,Unknown,56
2,3rd January,2026,Unprovoked,NEW CALEDONIA,Kélé,Between Bourail And Moindou,Scuba Diving,Unknown,M,Injuries to upper limbs,N,Unknown,24
3,21st December,2025,Unprovoked,USA,California,Lovers Point Pacific Grove,Swimming,Erica Fox,F,Taken by shark body recovered with multiple in...,Y,Great White Shark,55
4,12th December,2025,Unprovoked,USA,Sonoma County California,Salmon Creek,Surfing,Unknown,M,Hand Injury,N,Suspected Great White Shark,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7058,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Anonymous,M,FATAL,Y,NaN,24
7059,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Unknown,Pearl diving,Ahmun,M,FATAL,Y,NaN,24
7060,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,FATAL,Y,NaN,24
7061,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºn, 79ºw",NaN,Jules Patterson,M,FATAL,Y,NaN,24
7062,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below The English Fort, Trincomalee",Swimming,Anonymous,M,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,15

In [ ]:
df_shark_attacks.rename(columns={'fatal y/n':'fatal'}, inplace=True)

Cambiar nombre a la columna

In [ ]:
df_shark_attacks['fatal'] = df_shark_attacks['fatal'].astype(str).str.strip().str.upper()

Converitmos a mayusculas todas las filas de la columna Fatal

In [ ]:
df_shark_attacks['fatal'].unique()

array(['N', 'Y', 'F', 'M', 'NAN', 'NQ', 'UNKNOWN', '2017', 'Y X 2'],
      dtype=object)

Comprobamos los valores unicos en la columna fatal

In [ ]:
#Funcion para definir que solo queremos valores 'Y' o 'N'

def clean_fatal(valor):
    if valor == 'Y':
        return 'Y'
    elif valor == 'N':
        return 'N'
    else:
        return 'UNKNONW'

In [ ]:
df_shark_attacks['fatal'] = df_shark_attacks['fatal'].apply(clean_fatal)
df_shark_attacks['fatal'].value_counts()

fatal
N          4934
Y          1487
UNKNONW     642
Name: count, dtype: int64

Comprobacion de valores en columna 'fatal'

In [ ]:
df_shark_attacks['species'].value_counts()

species
White shark                                                                                                                      194
Shark involvement prior to death was not confirmed                                                                               105
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   92
Tiger shark                                                                                                                       89
                                                                                                                                ...
[4' to 5']                                                                                                                         1
[4.5' to 5'] shark                                                                                                                 1
3.5 m [11.5']shark                                                                                                                 1
Possibly a sandbar shark or small blacktip shark                                                                                   1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: count, Length: 1736, dtype: int64

Comprobamos como estan escritos las principales nombres de la especies

In [ ]:
df_shark_attacks['species'] = df_shark_attacks['species'].fillna('Unknown').astype(str)

Rellenamos los nulos con Unknown y a tipo str

In [ ]:
#Funcion para mejorar los valores dentro de la tabla species

def categoria_species(valor):
    valor = valor.lower()  #convertimos todo a minuscula

    if 'white' in valor:
        return 'White Shark'
    elif 'tiger' in valor:
        return 'Tiger Shark'
    elif 'bull' in valor:
        return 'Bull Shark'
    elif 'hammerhead' in valor:
        return 'Hammerhead Shark'
    elif 'shark' in valor:
        return 'Other Shark'
    else:
        
        return 'Unknown'
    
df_shark_attacks['species'] = df_shark_attacks['species'].apply(categoria_species)

In [ ]:
#Funcion para mejorar la columna de type:

type_mapping = {
    "Unprovoked": "Unprovoked",
    "Provoked": "Provoked",
    "Invalid": "Invalid",
    "Watercraft": "Watercraft",
    "Sea Disaster": "Sea Disaster",
    "Questionable": "Questionable",
    "Boat": "Watercraft",
    " Provoked": "Provoked",
    "unprovoked": "Unprovoked",
    "?": "Questionable",
    "Unconfirmed": "Questionable",
    "Unverified": "Questionable",
    "Under investigation": "Questionable"
}

    
df_shark_attacks['type'] = df_shark_attacks['type'].map(type_mapping)

df_shark_attacks.fillna("Questionable", inplace=True)

In [ ]:
df_shark_attacks["sex"].value_counts()

sex
M               5663
F                808
Questionable     579
M                  4
F                  2
N                  2
 M                 1
m                  1
lli                1
M x 2              1
.                  1
Name: count, dtype: int64

In [ ]:
def clean_sex(sex):
    return sex.strip()

df_shark_attacks["sex"] = df_shark_attacks["sex"].apply(clean_sex)

df_shark_attacks.head()

df_shark_attacks["sex"].value_counts()

sex
M               5668
F                810
Questionable     579
N                  2
m                  1
lli                1
M x 2              1
.                  1
Name: count, dtype: int64

In [ ]:
# Formatear la columna sex:

df_shark_attacks["sex"].value_counts(dropna=False)

sex_mapping = {
    "M": "M",
    "F": "F",
    "Questionable": "Unknown",
    "N": "Unknown",
    "m": "M",
    "lli": "Unknown",
    "M x 2": "Unknown",
    ".": "Unknown"
}

df_shark_attacks["sex"] = df_shark_attacks["sex"].map(sex_mapping)

df_shark_attacks["sex"].value_counts(dropna=False)

df_shark_attacks.fillna("Unknown", inplace=True)

df_shark_attacks["sex"].value_counts(dropna=False)

sex
M          5669
F           810
Unknown     584
Name: count, dtype: int64

In [ ]:
df_shark_attacks["state"].value_counts(dropna=False)

df_shark_attacks["country"].unique()

df_USA = df_shark_attacks[df_shark_attacks["country"] == "USA"]
df_USA = df_USA["state"].unique()
df_USA

array(['California', 'Sonoma County California',
       'Hawaii West Coast Big Island', 'Hawaii', 'Texas',
       'Off California', 'Florida', 'Massachusetts', 'Long Island NY',
       'South Carolina', 'North Carolina', 'Floria', 'Galveston',
       'New York', 'Utah', 'New Jersey', 'Samoa', 'Louisiana',
       'Mississippi', 'Noirth Carolina', 'Georgia', 'Alabama',
       'Los Angeles', 'Maryland', 'BAHAMAS', 'Maui', 'Oregon',
       'Franklin County, Florida', 'Virgin Islands', 'Maine', 'Bahamas',
       'Delaware', 'Guam', 'Cayman Islands', 'Rhode Island', 'Washington',
       'Questionable', 'Palmyra Atoll', 'Puerto Rico', 'Virginia',
       'US Virgin Islands', 'Kentucky', 'New Mexico', 'Johnston Atoll',
       'Alaska', 'Missouri', 'North & South Carolina', 'Carolina coast',
       'Connecticut', 'Pennsylvania', 'Illinois', 'Wake Island',
       'Midway Atoll', 'East coast', 'CUBA'], dtype=object)

In [ ]:
# Formateamos state

def clean_state(state):
    return state.strip()

df_shark_attacks["state"] = df_shark_attacks["state"].apply(clean_state)

In [ ]:
df_USA

array(['California', 'Sonoma County California',
       'Hawaii West Coast Big Island', 'Hawaii', 'Texas',
       'Off California', 'Florida', 'Massachusetts', 'Long Island NY',
       'South Carolina', 'North Carolina', 'Floria', 'Galveston',
       'New York', 'Utah', 'New Jersey', 'Samoa', 'Louisiana',
       'Mississippi', 'Noirth Carolina', 'Georgia', 'Alabama',
       'Los Angeles', 'Maryland', 'BAHAMAS', 'Maui', 'Oregon',
       'Franklin County, Florida', 'Virgin Islands', 'Maine', 'Bahamas',
       'Delaware', 'Guam', 'Cayman Islands', 'Rhode Island', 'Washington',
       'Questionable', 'Palmyra Atoll', 'Puerto Rico', 'Virginia',
       'US Virgin Islands', 'Kentucky', 'New Mexico', 'Johnston Atoll',
       'Alaska', 'Missouri', 'North & South Carolina', 'Carolina coast',
       'Connecticut', 'Pennsylvania', 'Illinois', 'Wake Island',
       'Midway Atoll', 'East coast', 'CUBA'], dtype=object)

He creado solo 5 categorias de tiburones para poder sacar medias de cada especie y Unknown para los que no se puede saber la especie o no esta bien descrito

In [ ]:
print(df_shark_attacks['species'].value_counts())

species
Unknown             3430
Other Shark         2250
White Shark          756
Tiger Shark          344
Bull Shark           234
Hammerhead Shark      49
Name: count, dtype: int64

Comprobacion de la tabla species

In [ ]:
df_shark_attacks

,date,year,type,country,state,location,activity,name,sex,injury,fatal,species,age_clean
0,10th January,2026,Unprovoked,AUSTRALIA,NSW,Avalon Beach,Surfing,Paul Stanton,M,puncture mark to left thumb,N,Unknown,24
1,8th January,2026,Unprovoked,US VIRGIN ISLANDS,Fredricksted Island St Croix,Dorsch Beach,Snorkeling,Arlene Lillis,F,Left arm torn off in the attack below the elbow,Y,Unknown,56
2,3rd January,2026,Unprovoked,NEW CALEDONIA,Kélé,Between Bourail And Moindou,Scuba Diving,Unknown,M,Injuries to upper limbs,N,Unknown,24
3,21st December,2025,Unprovoked,USA,California,Lovers Point Pacific Grove,Swimming,Erica Fox,F,Taken by shark body recovered with multiple in...,Y,White Shark,55
4,12th December,2025,Unprovoked,USA,Sonoma County California,Salmon Creek,Surfing,Unknown,M,Hand Injury,N,White Shark,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7058,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Anonymous,M,FATAL,Y,Unknown,24
7059,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Unknown,Pearl diving,Ahmun,M,FATAL,Y,Unknown,24
7060,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,FATAL,Y,Unknown,24
7061,1883-1889,0,Unprovoked,PANAMA,Questionable,"Panama Bay 8ºn, 79ºw",Questionable,Jules Patterson,M,FATAL,Y,Unknown,24
7062,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below The English Fort, Trincomalee",Swimming,Anonymous,M,"FATAL. ""Shark bit him in half, carrying away t...",Y,Unknown,15

RESUMEN DEL TRABAJO DE LIMPIEZA Y ESTANDARIZACION DE DATOS

- Borrado de columnas no necesarias para el analisis
- Borrado de duplicados y reseteo de indice
- Imputacion de los nulos a 0 y convertir la columna 'year' a entero
- Tengo que limpiar mejor la columna year ********
- Limpieza de strings a mayuscula en country y añadir titulos. Tambien he rellenado los nulos con UNKNOWN
- Rellenar los nulos de la columna name con Anonymous
- Reemplazar valores male y female como Anonymous
- Cambiar la columna age a tipo string ya que tiene muchos valores como nan
- Creacion de una columna nueva de Age = age_clean
- Convertimos a entero para quitar los decimales
- Calculamos la mediana de la edad para sacar conclusiones 
- Borrado de la tabla age antigua
- Cambiar nombre a la columna Fatal Y/N por Fatal
- Converitmos a mayusculas todas las filas de la columna Fatal
- Comprobamos los valores unicos en la columna fatal
- Comprobamos como estan escritos las principales nombres de la especies
- Rellenamos los nulos con Unknown y a tipo str
- He creado solo 5 categorias de tiburones con una funcion para poder sacar mejores conclusiones y Unknown para los que no se puede saber la especie o no esta bien descrito

CONCLUSIONES SEGUN LOS DATOS QUE HE LIMPIADO

Conclusion por letalidad y especie: 
 Tras limpiar y estandarizar la columna Fatal, los datos sugieren que la tasa de supervivencia es significativamente alta con 4394 casos como N. (Podemos sacar porcentes exacto)

Respecto a las especies, aunque el tiburón blanco aparece frecuentemente en los registros, un gran porcentaje de ataques provienen de especies no identificadas (Unknown), lo que sugiere que ciertas especies pueden estar sesgada por la facilidad de identificación visual, mientras que la letalidad real no siempre correlaciona con la frecuencia de ataques. (Podemos sacar los porcentages)

Conclusion Demografica:
Se han sufrido ataques en muchos rangos de edad pero al procesar la columna age_clean y convertirla a valores numéricos enteros (inputando los nulos con la mediana), se observa una concentración de datos en el rango de adultos jóvenes y adolescentes. (Comparar con activity para ver si esta correlacionado)

Concluion Historica:

He de mejorar primero la columna year para sacar conclusiones

In [329]:
df_shark_attacks.head()

,date,type,country,state,location,activity,name,sex,age,injury,fatal y/n,species
0,10th January,Unprovoked,Australia,NSW,Avalon Beach,Surfing,Paul Stanton,M,?,puncture mark to left thumb,N,Unknown
1,8th January,Unprovoked,US Virgin Islands,Fredricksted Island St Croix,Dorsch Beach,Snorkeling,Arlene Lillis,F,56,Left arm torn off in the attack below the elbow,Y,Unknown
2,3rd January,Unprovoked,New Caledonia,Kélé,Between Bourail and Moindou,Scuba Diving,Unknown,M,?,Injuries to upper limbs,N,Unknown
3,21st December,Unprovoked,USA,California,Lovers Point Pacific Grove,Swimming,Erica Fox,F,55,Taken by shark body recovered with multiple in...,Y,Great White Shark
4,12th December,Unprovoked,USA,Sonoma County California,Salmon Creek,Surfing,Unknown,M,?,Hand Injury,N,Suspected Great White Shark

In [ ]:
df_shark_attacks["type"].value_counts(dropna=False)

type
Unprovoked      5216
Provoked         643
Invalid          552
Watercraft       362
Sea Disaster     242
Questionable      48
Name: count, dtype: int64